<div class="flex flex-col text-lg">
    <h3 class="text-2xl font-semibold mt-0 mb-2 text-slate-100">
        <%= contest.name %>
    </h3>
    <a href="/contest/<%= contest.id %>/results" class="text-link cursor-pointer py-2 hover:text-slate-300">
        Results
    </a>
    <a href="/contest/<%= contest.id%>/users" class="text-link cursor-pointer py-2 hover:text-slate-300">
        Users
    </a>
    <a href="/teacher/contest/<%= contest.id %>" class="text-link cursor-pointer py-2 hover:text-slate-300">
        Problems
    </a>
</div>