<div class="overflow-y-auto">
    <table class="table-auto w-full">
        <thead>
            <tr class="border-b border-white">
                <th>code</th>
                <th>name</th>
                <th>deadline</th>
                <th>actions</th>
            </tr>
        </thead>

        <tr class="hover:bg-slate-700 hover:cursor-pointer even:bg-slate-900 odd:bg-slate-800 text-center">
            <td class="px-2 py-2" onclick="location.href = '/contest/1/problem/2'"> A</td>
            <td class="px-2 py-2" onclick="location.href = '/contest/1/problem/2'"> Brzydka klasa</td>
            <td class="px-2 py-2" onclick="location.href = '/contest/1/problem/2'"> 04-06-2022 </td>
            <td class="px-2 py-2 gap-2">
                <a href="/contest/1/problem/2/edit">edit</a>
            </td>
        </tr>
    </table>
    <a href="/contest/<%=contest.id%>/add">new problem</a>
</div>