<template id="test-editor">
    <div>
        <div class="group-container"></div>
        <button type="button">add group</button>
    </div>
</template>

<div id="editor"></div>

<template id="task-group">
    <div>
        <div class="flex flex-row bg-slate-800 gap-5 content-center p-2 border-b">
            <div class="flex flex-row items-center grow">
                <button class="focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#group-1">
                    <ion-icon size="large" name="add-outline"></ion-icon>
                </button>
                <span contenteditable> Group 1 </span>
            </div>
            <div class="flex flex-row items-center gap-2">
                <span class="inline"> all ok? </span>
                <input class="whitespace-nowrap" type="checkbox" />
                <button class="focus:outline-none" type="button">
                    <ion-icon style="color: red;" name="trash-outline"></ion-icon>
                </button>
            </div>
        </div>
        <div id="group-1" class="collapse hide pl-6">
            <table class="table-auto w-full">
                <thead>
                    <tr class="border-b border-white">
                        <th>points</th>
                        <th>name</th>
                        <th>time</th>
                        <th>memory</th>
                        <th>show output</th>
                        <th>URI</th>
                    </tr>
                </thead>
                <tbody id="tab">
                </tbody>
            </table>
            <button type="button">add task</button>
        </div>
    </div>
</template>

<template id="task">
    <tr class="even:bg-slate-900 odd:bg-slate-800 text-center">
        <td class="p-2"> <input type="number" class="w-16" step="0.1" min="0" class="p-1"></td>
        <td class="p-2"> <span class="p-1" contenteditable="true"></span></td>
        <td class="p-2">
            <div class=" flex items-center"><input type="number" class="w-20 p-1" step="0.01" min="0" />s
            </div>
        </td>
        <td class="p-2">
            <div class=" flex items-center"><input type="number" class="w-28 p-1" step="0.01" min="0" />B
            </div>
        </td>
        <td class="p-2"> <input class="text-lg" type="checkbox" /></td>
        <td class="p-2"> <span class="p-1" contenteditable="true"></span></td>
        <td class="p-2"> <button type="button">
                <ion-icon style="color: red;" name="trash-outline"></ion-icon>
            </button></td>
    </tr>
</template>

<script src="/js/test-editor.js"></script>