<!DOCTYPE html>
<html lang="en">

<head>
    <%- await include("views/common-head.ejs"); %>
        <title>
            Tanuki
        </title>
</head>

<body class="bg-slate-900 text-white">
    <%- await include("views/nav.ejs", {user: user}); %>

        <div class=" container mx-auto p-6 divide-x">
            <div class="flex flex-col gap-5">
                <h3 class="text-2xl font-semibold mt-0 mb-2 text-slate-100">Admin panel</h3>
                <a href="/admin/contests" class="normal-btn"> Edit
                    contests</a>
                <a href="/admin/users" class="normal-btn"> Edit
                    users</a>
                <a href="/dashboard/student" class="normal-btn"> My contests </a>
            </div>
        </div>

        <%- await include("views/common-scripts.ejs"); %>
</body>

</html>