.status-tle,
.status-rte,
.status-ans {
    background: #ff6d7d;
}

.status-ok {
    background: #80D47c;
}

.status-que {
    background: #F5CB73;
}

.status-cme,
.status-rej {
    background: #2f4858;
}