.status-tle,
.status-rte,
.status-ans {
    background: #e03c26;
}

.status-ok {
    background: #10b981;
}

.status-que {
    background-color: #ebd336;
}

.status-cme,
.status-rej,
.status-int,
.status-rul,
.status-err {
    background: #2f4858;
}