/* Remove blue outline on input focus */
input:focus,
textarea:focus {
    outline: none;
    border-color: #10b981;
    border-width: 2px;
}
input {
    color-scheme: dark;
    padding:2px;
    background-color: transparent;
    border-color: #777777;
    border-width: 2px;
}
input[type='checkbox'] {
    width:25px;
    height: 25px;
}

input:focus {
    outline:none;
    border-color: #10b981;
}

span[contenteditable="true"] {
    padding:2px;
    background-color: transparent;
    border-color: #777777;
    border-width: 2px;
    display: block;
}
span[contenteditable="true"]:focus {
    outline: none;
    border-color: #10b981;
}
.status {
    text-transform: uppercase;
}

/* Status styling */
.status-tle,
.status-rte,
.status-ans {
    color: #e03c26;
}

.status-ok {
    color: #10b981;
}

.status-que {
    color: #ebd336;
}

.status-cme,
.status-rej,
.status-int,
.status-rul,
.status-err {
    color: #466b83;
}

/* Loading animation */
.lds-dual-ring {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Other */
.submit-btn {
    background-color: #059669;
    color: white;
    cursor: pointer;
    padding: 1rem;
    display: inline-block;
}

.submit-btn:hover {
    background-color: #10b981;
}