/* Remove blue outline on input focus */
input:focus,
textarea:focus {
    outline: none;
    border-color: #10b981;
    border-width: 2px;
}

.status {
    text-transform: uppercase;
}

/* Status styling */
.status-tle,
.status-rte,
.status-ans,
.status-TLE,
.status-RTE,
.status-ANS {
    color: #e03c26;
}

.status-ok,
.status-OK {
    color: #10b981;
}

.status-que,
.status-QUE {
    color: #ebd336;
}

.status-cme,
.status-rej,
.status-int,
.status-rul,
.status-err,
.status-CME,
.status-REJ,
.status-INT,
.status-RUL,
.status-ERR {
    color: #466b83;
}

/* Loading animation */
.lds-dual-ring {
    display: inline-block;
    width: 32px;
    height: 32px;
}

span[contenteditable="true"] {
    display: block;
    border: 1px solid #10b981;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Other */
.submit-btn {
    background-color: #059669;
    color: white;
    cursor: pointer;
    padding: 1rem;
    display: inline-block;
}

.submit-btn:hover {
    background-color: #10b981;
}