<!DOCTYPE html>
<html lang="en">

<head>
  <%- await include("views/common-head.ejs"); %>
  <title>
    400
  </title>
</head>

<body class="bg-zinc-900 text-slate-200">
  <%- await include("views/nav.ejs", {user: user}); %>
  <div class="mx-auto container flex-col flex items-center">
    <div class="text-center font-bold text-9xl px-2 py-2"> 400 </div>
    <div class="text-center font-semibold mb-2 p-4"> Uh-oh, that request was bad </div>
    <a class="p-4 text-white bg-emerald-600 hover:bg-emerald-500 mx-auto" href="/"> Return to main page </a>
  </div>
</body>

</html>