<!DOCTYPE html>
<html lang="en">

<head>
  <%- await include("views/common-head.ejs"); %>
  <title>
    Tanuki
  </title>
</head>

<body class="bg-zinc-900 text-white">
  <%- await include("views/nav.ejs"); %>
  <div class=" container mx-auto p-6">
    <h2 class="text-4xl text-center mb-8"> Log in </h2>
    <form method="post" action="" class="flex justify-center">
      <div class="flex gap-4 flex-col max-w-sm align-middle">
        <label for="login" class="block uppercase tracking-wide
      "> login </label>
        <input type="text" name="login" class="appearance-none p-2
        border
        border-white 
        bg-zinc-900
      ">

        <label for="login" class="block uppercase tracking-wide"> password </label>
        <input type="password" name="password" class="p-2

        border
        border-white 
        bg-zinc-900
      ">
        <button type="submit" class="block border-2 p-2 btn
        hover:bg-zinc-800
        border-emerald-600
      ">
          Log in
        </button>
      </div>
    </form>
  </div>
  <%- await include("views/common-scripts.ejs"); %>
</body>

</html>