<nav class="
    relative
    w-full
    flex flex-wrap
    items-center
    justify-between
    py-4
    border-b
    border-b-zinc-700
    text-white
    navbar navbar-expand-lg navbar-light
    sticky 
    top-0
    z-999
    bg-inherit
    ">
  <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
    <div class="font-bold text-xl mr-2">
      <a href="/dashboard" class="flex items-center">
        <img src="/images/logo-big.png" class="object-scale-down h-6 pr-2">
      </a>
    </div>
    <button class="
                navbar-toggler 
                border-0 
                focus:outline-none focus:ring-0 
                focus:shadow-none focus:no-underline" type="button" data-bs-toggle="collapse"
      data-bs-target="#navContent" aria-controls="navContent" aria-expanded="false" aria-label="Toggle nav">
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
    </button>

    <div class="collapse navbar-collapse flex-grow items-center" id="navContent">
      <ul class="navbar-nav flex flex-col pl-0 list-style-none mr-auto mt-2">
        <% if (typeof(user)=='undefined' || user==null) { %>
          <li class="nav-item p-2"> <a href="/log-in" class="hover:text-emerald-400">Log in</a></li>
          <li class="nav-item p-2"> <a href="/sign-up" class="hover:text-emerald-400">Sign up</a></li>
          <% } else { %>
            <li class="nav-item p-2"> <a class="text-link" href="/dashboard/student">Contests </a></li>
            <li class="nav-item p-2"> <a class="text-link" href="/account"> Account </a></li>
            <li class="nav-item p-2"> Signed in as <b>
                <%= user.login %>
              </b></li>
            <li class="nav-item p-2"> <a class="text-link" href="/log-out"> Log out </a></li>
            <% } %>
      </ul>
    </div>
  </div>

</nav>