<nav class="
    relative
    w-full
    flex flex-wrap
    items-center
    justify-between
    py-4
    border-b
    border-b-zinc-700
    text-white
    navbar navbar-expand-lg navbar-light
    ">
  <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
    <div class="font-bold text-xl mr-2">
      <a href="/dashboard" class="flex items-center">
        <img src="/favicon/tanuki-white.png" class="object-scale-down h-6 pr-2">
        Tanuki
      </a>
    </div>
    <button class="
                navbar-toggler 
                border-0 
                focus:outline-none focus:ring-0 
                focus:shadow-none focus:no-underline" type="button" data-bs-toggle="collapse" data-bs-target="#navContent" aria-controls="navContent" aria-expanded="false" aria-label="Toggle nav">
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
    </button>

    <div class="collapse navbar-collapse flex-grow items-center" id="navContent">
      <ul class="navbar-nav flex flex-col pl-0 list-style-none mr-auto">
        <li class="nav-item p-2"> Contests </li>
        <li class="nav-item p-2"> Account </li>
      </ul>
    </div>
  </div>

</nav>