<!DOCTYPE html>
<html lang="en">

<head>
  <%- await include("views/common-head.ejs"); %>
  <link rel="stylesheet" type="text/css" href="/css/loading.css">
  <title>
    Tanuki
  </title>
</head>

<body class="bg-zinc-900">
  <%- await include("views/nav.ejs"); %>
  <div class=" container mx-auto p-6 text-white">
    Satori emulator 2.0
    <h2 class="text-4xl text-center mb-8 text-white"> Submit 69420 </h2>
    <div class="flex gap-4 flex-row justify-center text-white">
      <div id="status" class="text-white status-que text-2xl flex align-middle p-3
      space-x-4">
        <div class="status-text">QUE</div>
        <div class="loading lds-dual-ring"></div>
      </div>
    </div>
  </div>
  <%- await include("views/common-scripts.ejs"); %>
  <script src="/js/wait-for-status.js"></script>
</body>

</html>