<% if (typeof(status) !='undefined' && status !=null) { %>
    <b>
        <div class="status-<%= status.name.toLowerCase() %> status-text text-lg">
            <%= status.name %>
        </div>
    </b>
    <% } %>