<!DOCTYPE html>
<html lang="en">

<head>
  <%- await include("views/common-head.ejs"); %>
  <title>
    Tanuki
  </title>
</head>

<body class="bg-zinc-900 text-white">
  <%- await include("views/nav.ejs", { user : user }); %>
  <div class=" container mx-auto p-6">
    <h2 class="text-4xl text-center mb-8"> Submit </h2>
    <form method="post" action="/submit" class="flex justify-center" enctype="multipart/form-data">
      <div class="flex gap-4 flex-col max-w-sm align-middle">
        <select name="problem" class="appearance-none text-black">
          <option value="0"> 0 </option>
          <option value="1"> 1 </option>
          <option value="2"> 2 </option>
        </select>
        <input type="file" name="source" />
        <button type="submit" class="block p-2 btn
        bg-emerald-600
        hover:bg-emerald-500
        text-white
      ">
          Submit
        </button>
      </div>
    </form>
  </div>
  <%- await include("views/common-scripts.ejs"); %>
</body>

</html>