<div>
    <div>
        <div class="flex flex-row bg-zinc-800 gap-5 content-center p-2 border-b hover:bg-zinc-700 hover:cursor-pointer"
            type="button" data-bs-toggle="collapse" data-bs-target="#group-1">
            <div class="flex flex-row items-center grow">
                Group 1
            </div>
            <div class="flex flex-row items-center status-ok">
                OK
            </div>
        </div>
        <div id="group-1" class="collapse hide pl-6">
            <table class="table-auto w-full">
                <thead>
                    <tr class="border-b border-white">
                        <th>name</th>
                        <th>status</th>
                        <th>time</th>
                    </tr>
                </thead>
                <tbody id="tab">
                    <tr class="even:bg-zinc-900 odd:bg-zinc-800 text-center">
                        <td class="px-2 py-2">01-small</td>
                        <td class="px-2 py-2 status-ok">1.0/1.0 OK</td>
                        <td class="px-2 py-2"> 3.041s</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>